* {
  margin: 0;
}
html {
  position: fixed;
  background-image: url(https://belartestudio.com/cdn/shop/products/NordicStructure-Wood-BAS00410082-DarkPineWood-10_67c924d5-f1c7-4b5b-8d3f-36eef985d199.jpg);
  background-size: cover;
  scale: 0.63;
}

#app {
  display: grid;
  grid-template-areas:
    "player1 player2"
    "player3 player4";
  grid-template-columns: 50vw;
  grid-template-rows: 50vh;
  justify-content: center;
  overflow: hidden;
}

.player-section {
  height: 50vh;
  width: 50vw;
  align-content: center;
}

.avatar-input {
  width: 70%;
  margin: 0.5rem 15% 0.5rem 15%;
  z-index: 4;
  position: fixed;
  scale: 1.3;
}

.img-1 > .avatar-section > img {
  transform: translateX(-5rem) translateY(3rem) rotate(-10deg);
}
.img-2 > .avatar-section > img {
  transform: translateX(8rem) translateY(3rem) rotate(10deg);
}

.img-1 > .life-counter {
  transform: translateX(-1rem) translateY(1rem) /* rotate(10deg) */;
}
.img-2 > .life-counter {
  transform: translateX(1rem) translateY(1rem) /* rotate(-10deg) */;
}

.avatar-img {
  object-fit: cover;
  margin: auto;
  width: 10vh;
  height: 25vw;
  scale: 2.6;
  z-index: 1;
  border-radius: 0.3rem;
}

.life-counter {
  display: flex;
  justify-content: center;
  z-index: 3;
  transform: translateY(-1rem);
}
.life-button {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  margin: auto 0.1rem;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 0.3rem;
  background-color: rgba(59, 59, 59, 0.692);
  backdrop-filter: blur(2px);
  transition: 0.1s;
}
.life-button:active {
  background-color: rgba(240, 248, 255, 0.192);
  color: white;
  transform: scale(0.9);
}

.life-amount {
  padding: 1rem;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}

.player-left {
  margin: auto;
  transform: rotate(90deg);
  transform-origin: center;
  display: flex;
  flex-direction: column;
}

.player-right {
  margin: auto;
  transform: rotate(-90deg);
  transform-origin: center;
  display: flex;
  flex-direction: column;
}
